doctype html
html(lang='zxx')
  head
    link(rel='icon', href='images/download.png')
    title Book guide
    // meta tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='Employ Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,     Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script.
      addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
      }, false);
      function hideURLbar() {
      window.scrollTo(0, 1);
      }
    // //meta tags ends here
    // booststrap
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
    // //booststrap end
    // font-awesome icons
    link(href='css/fontawesome-all.min.css', rel='stylesheet', type='text/css', media='all')
    // //font-awesome icons
    // stylesheets
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // //stylesheets
    link(href='//fonts.googleapis.com/css?family=Montserrat:300,400,500', rel='stylesheet')
  body
    #home.header-outs
      .header-w3layouts
        // //navigation section
        .headr-title.text-center
          h1
            a.navbar-brand(href='index.html')
              span.fab.fa-servicestack
              | GET GUIDE
          .clearfix
        nav.navbar.navbar-expand-lg.navbar-light
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse.nav-fill
            ul.navbar-nav.nav-pills.nav-fill
              li.nav-item
                a.nav-link(href='index2')
                  | Home 
                  span.sr-only (current)
              li.nav-item.active
                a.nav-link(href='about') About
              li.nav-item
                a.nav-link(href='service') Service
              li.nav-item
                a.nav-link(href='gallery') Gallery
              li.nav-item
                a.nav-link(href='guide') Guide Login
              li.nav-item
                a.nav-link(href='contact') User Login
              li.nav-item
                a.nav-link(href='help') Help
    // //Navigation
    // banner
    .inner_page-banner
    // //banner
    // short
    .using-border.py-3
      .inner_breadcrumb.ml-4
        ul.short_ls
          li
            a(href='index2') Home
            span / /
          li About
    // //short
    // about
    // about-one
    section.about-inner.py-lg-4.py-md-3.py-sm-3.py-3
      .container.py-lg-5.py-md-4.py-sm-4.py-3
        h3.title.text-center.mb-lg-5.mb-md-4.mb-sm-4.mb-3 About Us
        .row.abt-inner-agile
          .col-lg-6.inner-about-left
            .abut-fst-img
              img.img-fluid(src='images/aa1.jpg', alt=' ')
              .abut-secound-img
                img.img-fluid(src='images/aa2.jpg', alt=' ')
          .col-lg-6.inner-about-text.text-left
            p.pt-lg-4.pt-md-3.pt-2
              strong Getguide
              |  is an enormous platform where the public can ensure their route odf famous places in india.
              |             Moreover, there will be communication between the tourist and the guider in order to have appropriate personalisation of each of them.
      // //about-one
      // about-two
      .container.pb-lg-5.pb-md-4.pb-sm-4.pb-3
        .row
          .col-lg-6.inner-about-text.text-left
            h4
              | Public can search nearby tourist guider in concerned area in order to visit those famous or historical places with the help of this concerned website general public will be able to search the real guide of the concerned places.
            p.pt-lg-4.pt-md-3.pt-2
              | Sometimes what Happens is that foregin tourist don't know anything of the places where they visit,but through our website we are providing easy and efficient solution for it.
          .col-lg-6.sub-inner-abt-txt.text-left
            .row
              .col-md-6
                .sub-agile-abt-txt
                  h4 About 1
                  p.pt-lg-3.pt-md-3.pt-2.text-left Where tourist can get information regarding guide accurately.
                .sub-agile-abt-txt.mt-md-4.mt-3
                  h4 About 2
                  p.pt-lg-3.pt-md-3.pt-2.text-left
                    | The main motive our website is to provide correct guide to tourist which will be authorised by the government of india and state too.
              .col-md-6
                .sub-agile-abt-txt
                  h4 About 3
                  p.pt-lg-3.pt-md-3.pt-2.text-left
                    | It ensure a lot o f advantages for the unknown tourist.Comfortness to the tourist will be the mainstream of our website."YOUR COMFORT AND OUR EFFORTS WILL BE SUCCESS".
      // //about-two
      // //about
      | s
      // latest news
      // Team
      section.team.py-lg-4.py-md-3.py-sm-3.py-3
        .container.py-lg-5.py-md-5.py-sm-4.py-3
          h3.title.text-center.clr.mb-lg-5.mb-md-4.mb-sm-4.mb-3 Our Team
          .row
            // Team member
            .col-lg-4.team-list-one
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l2.jpg', alt='')
                        h4.card-title.mt-3 Rahul Kachhap
                        p.card-text.mb-3 UI Designer
                        a.btn.btn-primary.btn-sm(href='#')
                          i.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Rahul Kachhap
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING.I am working as a UI designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.facebook.com/rahul.kachhap.39')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://plus.google.com/u/0/104229860940286315918')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://twitter.com/rahulkachhap_')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/rahulkachhap_')
                              span.fab.fa-instagram
            // ./Team member
            // Team member
            .col-lg-4.team-list-two
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l1.jpg', alt='')
                        h4.card-title.mt-3 Prafulla Raj
                        p.card-text.mb-3 Project Manager and co-founder
                        a.btn.btn-primary.btn-sm(href='#')
                          span.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Prafulla Raj
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING.I am working as a PROJECT MANAGER designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.facebook.com/prafulla.raj1')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://plus.google.com/u/0/100065983106428609684')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://twitter.com/prafullaraj')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/prafulla_raj')
                              span.fab.fa-instagram
            // ./Team member
            // Team member
            .col-lg-4.team-list-three
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l3.jpg', alt='')
                        h4.card-title.mt-3 Sachin Kumar Soni
                        p.card-text.mb-3 FullStack Developer
                        a.btn.btn-primary.btn-sm(href='#')
                          i.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Sachin Kumar Soni
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING.I am working as a FULLSTACK DEVELOPER designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/rahulkachhap_')
                              span.fab.fa-instagram
            // ./Team member
          br
          .row
            // Team member
            .col-lg-4.team-list-one
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l3.jpg', alt='')
                        h4.card-title.mt-3 Prince Kumar Jaiswal
                        p.card-text.mb-3 co-founder and Backend Developer
                        a.btn.btn-primary.btn-sm(href='#')
                          i.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Prince Kumar Jaiswal
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING.I am working as a BACKEND DEVELOPER designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/rahulkachhap_')
                              span.fab.fa-instagram
            // ./Team member
            // Team member
            .col-lg-4.team-list-two
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l3.jpg', alt='')
                        h4.card-title.mt-3 Ayush Ashish
                        p.card-text.mb-3 Frontend Designer
                        a.btn.btn-primary.btn-sm(href='#')
                          span.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Ayush Ashish
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING.I am working as a FRONTEND DESIGNER designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/rahulkachhap_')
                              span.fab.fa-instagram
            // ./Team member
            // Team member
            .col-lg-4.team-list-three
              .image-flip
                .mainflip
                  .frontside
                    .card
                      .card-body.text-center
                        p
                          img.image-fluid(src='images/l3.jpg', alt='')
                        h4.card-title.mt-3 Bipin Kumar Soni
                        p.card-text.mb-3 Backend Developer
                        a.btn.btn-primary.btn-sm(href='#')
                          i.fa.fa-plus
                  .backside
                    .card
                      .card-body.text-center.mt-4
                        h4.card-title Bipin Kumar Soni
                        p.card-text.mb-3
                          | I am persuing third year B.TECH CSE branch from ADITYA COLLEGE OF ENGINEERING AND TECHNOLOGY.I am working as a BACKEND DEVELOPER designer in this concerned project.
                        ul.list-inline
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-facebook-f
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-google-plus-g
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='#')
                              span.fab.fa-twitter
                          li.list-inline-item
                            a.social-icon.text-xs-center(target='_blank', href='https://www.instagram.com/rahulkachhap_')
                              span.fab.fa-instagram
            // ./Team member
            // //team
            // //team
  // Footer
  section.buttom-footer.py-lg-4.py-md-3.py-sm-3.py-3
    .container.py-lg-5.py-md-5.py-sm-4.py-4
      .row.subscribe-form
        .col-lg-6.email-sub-agile
          form(action='/mails', method='POST')
            .form-group
              input.form-control.email-sub-agile(type='email', placeholder='Email',name='email')
            .text-center
              button.btn.subscrib-btnn(type='submit',name='submit') Subscribe
        .col-lg-6.email-info
          .wthree-form-list.clr-black
            h4 For more updates get subscribed.
      .pt-lg-5.pt-md-5.pt-sm-4.pt-3
        .row.footer-agile-grids
          .col-lg-4.col-md-4.col-sm-12.wthree-left-right
            h4 Nav Links
            nav.border-line
              ul.nav.flex-column
                li.nav-item.active
                  a.nav-link(href='index.html')
                    | Home 
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='about') About
                li.nav-item
                  a.nav-link(href='service') Services
                li.nav-item
                  a.nav-link(href='gallery') Gallery
                li.nav-item
                  a.nav-link(href='guide') Guide Login
                li.nav-item
                  a.nav-link(href='contact') User Login
                li.nav-item
                  a.nav-link(href='help') Help
          .col-lg-4.col-md-4.col-sm-12.wthree-left-right
            h4 Our Address
            .addres-up
              ul
                li.d-flex.pb-md-3.pb-3
                  span.fas.fa-map-marker-alt.d-flex
                  p.d-flex Aditya Engineering college
                li.d-flex.pb-md-3.pb-3
                  span.fas.fa-phone-volume.d-flex(aria-hidden='true')
                  p.d-flex 8465803247
                li.d-flex.pb-md-3.pb-3
                  span.far.fa-envelope.d-flex
                  p.d-flex
                    a(href='mailto:info@example.com') raj.prafullaraj@gmail.com
                li.d-flex.pb-md-3.pb-3
                  span.fas.fa-fax.d-flex
                  p.d-flex 9703004251
                li.d-flex
                  span.fab.fa-windows.d-flex(aria-hidden='true')
                  p.d-flex www.getguide.com
            .icons.mt-4
              ul
                li
                  a(href='#')
                    span.fab.fa-facebook-f
                li
                  a(href='#')
                    span.fas.fa-envelope
                li
                  a(href='#')
                    span.fas.fa-rss
                li
                  a(href='#')
                    span.fab.fa-vk
          .wthree-left-right.col-lg-4.col-md-4.col-sm-12
            h4.pb-lg-3.pb-3 Our Posts
            .footer-post.d-flex.mb-2
              .agileinfo_footer_grid1.mr-2
                a(href='gallery')
                  img.img-fluid(src='images/f1.jpg', alt=' ')
              .agileinfo_footer_grid1.mr-2
                a(href='gallery')
                  img.img-fluid(src='images/f2.jpg', alt=' ')
              .agileinfo_footer_grid1
                a(href='gallery')
                  img.img-fluid(src='images/f3.jpg', alt=' ')
            .footer-post.d-flex
              .agileinfo_footer_grid1.mr-2
                a(href='gallery')
                  img.img-fluid(src='images/f4.jpg', alt=' ')
              .agileinfo_footer_grid1.mr-2
                a(href='gallery')
                  img.img-fluid(src='images/f5.jpg', alt=' ')
              .agileinfo_footer_grid1
                a(href='gallery')
                  img.img-fluid(src='images/f6.jpg', alt=' ')
  // //Footer
  // js working
  script(src='js/jquery-2.2.3.min.js')
  // //js working
  // start-smoth-scrolling
  script(src='js/move-top.js')
  script(src='js/easing.js')
  script.
    jQuery(document).ready(function($) {
    $(".scroll").click(function(event) {
    event.preventDefault();
    $('html,body').animate({
    scrollTop: $(this.hash).offset().top
    }, 900);
    });
    });
  // start-smoth-scrolling
  // here stars scrolling icon
  script.
    $(document).ready(function() {
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear'
    };
    $().UItoTop({
    easingType: 'easeOutQuart'
    });
    });
  // //here ends scrolling icon
  // bootstrap working
  script(src='js/bootstrap.min.js')
  // //bootstrap working
