doctype html
html(lang='zxx')
  head
    link(rel='icon', href='images/download.png')
    title
      | Tourist
    // meta tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='Employ Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script.
      addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
      }, false);
      function hideURLbar() {
      window.scrollTo(0, 1);
      }
    // //meta tags ends here
    // booststrap
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
    // //booststrap end
    // font-awesome icons
    link(href='css/fontawesome-all.min.css', rel='stylesheet', type='text/css', media='all')
    // //font-awesome icons
    // gallery
    link(rel='stylesheet', href='css/lightbox.css')
    // //gallery
    link(rel='stylesheet', type='text/css', href='css/set1.css')
    // stylesheets
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // //stylesheets
    link(href='//fonts.googleapis.com/css?family=Montserrat:300,400,500', rel='stylesheet')
  body
    // headder
    #home.header-outs
      .header-w3layouts
        // //navigation section
        .headr-title.text-center
          h1
            a.navbar-brand(href='index2')
              span.fab.fa-servicestack
              | Get Guide
          .clearfix
        nav.navbar.navbar-expand-lg.navbar-light
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse.nav-fill
            ul.navbar-nav.nav-pills.nav-fill
              li.nav-item
                a.nav-link(href='index2')
                  | Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='about') About
              li.nav-item
                a.nav-link(href='service') Service
              li.nav-item.active
                a.nav-link(href='gallery') Gallery
              li.nav-item
                a.nav-link(href='guide') Guide Login
              li.nav-item
                a.nav-link(href='contact') User Login
                li.nav-item
                a.nav-link(href='help') Help
    // //Navigation
    // //headder
    // banner
    .inner_page-banner.one-img
    // //banner
    // short
    .using-border.py-3
      .inner_breadcrumb.ml-4
        ul.short_ls
          li
            a(href='index.html') Home
            span / /
          li Gallery
    // //short
    // Gallery
    section.gallery.py-lg-4.py-md-3.py-sm-3.py-3
      .container-fluid.py-lg-5.py-md-4.py-sm-4.py-3
        h3.title.text-center.mb-lg-5.mb-md-4.mb-sm-4.mb-3 Our Gallery
        .row.grid.gallery-info
          .col-lg-6.col-md-6.gallery-grids
            figure.effect-julia
              img(src='images/DELHI/1.jpg', alt='img15')
              figcaption
                h2
                  | Delhi
                  span View
                p Yeh Sheher nhi Mehfil hai
                br
                p Foodie's Paradise
                br
                p Make You Fall in Love
                a.gallery-box(href='images/DELHI/1.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/DELHI/1.jpg', alt='')
                  | View more
          .col-lg-6.col-md-6.gallery-grids
            figure.effect-julia
              img(src='images/BANGLORE/1.jpg', alt='img15')
              figcaption
                h2
                  | Bangalore
                  span View
                p populous urban agglomeration 
                br
                p nation's leading IT industry
                br
                p Landscaped gardens
                a.gallery-box(href='images/BANGLORE/1.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/BANGLORE/1.jpg', alt='')
                  | View more
        .row.grid.gallery-info
          .col-lg-4.col-md-4.gallery-grids
            figure.effect-julia
              img(src='images/JAIPUR/1.jpg', alt='img15')
              figcaption
                h2
                  | Jaipur
                  span View
                p Wonderful culture & lifestyle
                br
                p Hilltop forts & palace
                br
                p Known as pink city
                a.gallery-box(href='images/g3.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/g3.jpg', alt='')
                  | View more
          .col-lg-4.col-md-4.gallery-grids
            figure.effect-julia
              img(src='images/KOLKATA/1.jpg', alt='img15')
              figcaption
                h2
                  | Kolkata
                  span View
                p City of sweets
                br
                p City of joy & celebrations
                br
                p Cantilever bridge
                a.gallery-box(href='images/KOLKATA/2.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/KOLKATA/3.jpg', alt='')
                  | View more
          .col-lg-4.col-md-4.gallery-grids
            figure.effect-julia
              img(src='images/MUMBAI/1.jpg', alt='img15')
              figcaption
                h2
                  | MUMBAI
                  span View
                p Film city of India
                br
                p Religious Destinations
                br
                p Historical monuments
                a.gallery-box(href='images/MUMBAI/1.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/g5.jpg', alt='')
                  | View more
          .col-lg-6.col-md-6.gallery-grids
            figure.effect-julia
              img(src='images/GOA/1.jpeg', alt='img15')
              figcaption
                h2
                  | GOA
                  span View
                p Lorem ipsum dolor sit ips
                br
                p Lorem ipsum dolor sitsum
                br
                p Lorem ipsum dolor sit
                a.gallery-box(href='images/GOA/1.jpeg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/g1.jpg', alt='')
                  | View more
          .col-lg-6.col-md-6.gallery-grids
            figure.effect-julia
              img(src='images/JAMMU&KASHMIR/1.jpg', alt='img15')
              figcaption
                h2
                  | JAMMU&KASHMIR
                  span View
                p Lorem ipsum dolor sit ips
                br
                p Lorem ipsum dolor sitsum
                br
                p Lorem ipsum dolor sit
                a.gallery-box(href='images/JAMMU&KASHMIR/1.jpg', data-lightbox='example-set', data-title='')
                  img.img-fluid(src='images/g1.jpg', alt='')
                  | View more
    // //Gallery
    // Footer
    section.buttom-footer.py-lg-4.py-md-3.py-sm-3.py-3
      .container.py-lg-5.py-md-5.py-sm-4.py-4
        .row.subscribe-form
          .col-lg-6.email-sub-agile
            form(action='/mails', method='POST')
              .form-group
                input.form-control.email-sub-agile(type='email', placeholder='Email', name='email')
              .text-center
                button.btn.subscrib-btnn(type='submit', name='submit') Submit
          .col-lg-6.email-info
            .wthree-form-list.clr-black
              h4
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias consequatur aut.maiores alias
        .pt-lg-5.pt-md-5.pt-sm-4.pt-3
          .row.footer-agile-grids
            .col-lg-4.col-md-4.col-sm-12.wthree-left-right
              h4 Nav Links
              nav.border-line
                ul.nav.flex-column
                  li.nav-item.active
                    a.nav-link(href='index.html')
                      | Home 
                      span.sr-only (current)
                  li.nav-item
                    a.nav-link(href='about.html') About
                  li.nav-item
                    a.nav-link(href='service.html') Services
                  li.nav-item
                    a.nav-link(href='blog.html') Blog
                  li.nav-item
                    a.nav-link(href='gallery.html') Gallery
                  li.nav-item
                    a.nav-link(href='contact.html') Contact
            .col-lg-4.col-md-4.col-sm-12.wthree-left-right
              h4 Our Address
              .addres-up
                ul
                  li.d-flex.pb-md-3.pb-3
                    span.fas.fa-map-marker-alt.d-flex
                    p.d-flex 333 Broome St New York
                  li.d-flex.pb-md-3.pb-3
                    span.fas.fa-phone-volume.d-flex(aria-hidden='true')
                    p.d-flex +11 256 5486
                  li.d-flex.pb-md-3.pb-3
                    span.far.fa-envelope.d-flex
                    p.d-flex
                      a(href='mailto:info@example.com') mail@example.com
                  li.d-flex.pb-md-3.pb-3
                    span.fas.fa-fax.d-flex
                    p.d-flex (000)1122333
                  li.d-flex
                    span.fab.fa-windows.d-flex(aria-hidden='true')
                    p.d-flex http//example.com
              .icons.mt-4
                ul
                  li
                    a(href='#')
                      span.fab.fa-facebook-f
                  li
                    a(href='#')
                      span.fas.fa-envelope
                  li
                    a(href='#')
                      span.fas.fa-rss
                  li
                    a(href='#')
                      span.fab.fa-vk
            .wthree-left-right.col-lg-4.col-md-4.col-sm-12
              h4.pb-lg-3.pb-3 Our Posts
              .footer-post.d-flex.mb-2
                .agileinfo_footer_grid1.mr-2
                  a(href='gallery.html')
                    img.img-fluid(src='images/f1.jpg', alt=' ')
                .agileinfo_footer_grid1.mr-2
                  a(href='gallery.html')
                    img.img-fluid(src='images/f2.jpg', alt=' ')
                .agileinfo_footer_grid1
                  a(href='gallery.html')
                    img.img-fluid(src='images/f3.jpg', alt=' ')
              .footer-post.d-flex
                .agileinfo_footer_grid1.mr-2
                  a(href='gallery.html')
                    img.img-fluid(src='images/f4.jpg', alt=' ')
                .agileinfo_footer_grid1.mr-2
                  a(href='gallery.html')
                    img.img-fluid(src='images/f5.jpg', alt=' ')
                .agileinfo_footer_grid1
                  a(href='gallery.html')
                    img.img-fluid(src='images/f6.jpg', alt=' ')
    footer
      p
        | ©2018 Employ. All Rights Reserved | Design by 
        a(href='http://www.W3Layouts.com', target='_blank') W3Layouts
    // //Footer
    // js working
    script(src='js/jquery-2.2.3.min.js')
    // //js working
    // gallery
    script(src='js/lightbox-plus-jquery.min.js')
    // //gallery
    // start-smoth-scrolling
    script(src='js/move-top.js')
    script(src='js/easing.js')
    script.
      jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
      scrollTop: $(this.hash).offset().top
      }, 900);
      });
      });
    // start-smoth-scrolling
    // here stars scrolling icon
    script.
      $(document).ready(function () {
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      $().UItoTop({
      easingType: 'easeOutQuart'
      });
      });
    // //here ends scrolling icon
    // bootstrap working
    script(src='js/bootstrap.min.js')
    // //bootstrap working
